<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="style.css" />
  <title>Essay Blogspot</title>
</head>
<body>

  <main>
    <h1>Welcome to your blogspot</h1>
    <h2>Author: <%= name1 %></h2>
    <h2>Favourite Cricketer: <%= name2 %></h2>
    <h2>Essay: <%= name3 %></h2>
    <h2>Date: <%= date %> | Time: <%= time %></h2>
  </main>

  <%- include("partials/footer.ejs") %>

</body>
</html>
